@import 'reset';
@import 'variables/global';
@import 'thems/light';
@import 'thems/dark';

.app {
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}